html {
  color: #222;
  font-size: 1em;
  line-height: 2;
}
#gif-form{
  margin-left: 30px;
  padding-left : 30px; 
}
#results {
  display: inline;
}

#gifs-appear-here {
  display: inline;
}


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
