html {
  color: #222;
  font-size: 1em;
  line-height: 2;
}
#title {
  text-align: center;
}

#results {
  margin: 0 auto;
  width: 1200px;
}

.gif-box {
  margin: 0.5rem;
  display: inline-block;
  border: 1px solid black;
  height: auto;
  width: auto;
img {
  display: block;
}
h6 {
  font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}
